.container{
  width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  background: lightblue;
  .header-menu{
    box-sizing: border-box;
    width:100%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    background: lightcyan;
  }
}
.body-container {
  padding: 10px;
  .left-menu {
    width: 200px;
    height:100%;
    float: left;
    border-right: 1px solid lightgray;
  }
  .body-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 200px - 1px);
    height:100%;
    float: right;
    padding-left: 20px;
  }
}